<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project | Hackaday.io</title>
</head>

<body>
    <h2 style="text-align:center;">Project Metadata</h2>
    <div id="metadata"></div>
    <h2 style="text-align:center;">Recommended Projects</h2>
    <div id="recommended"></div>
    <!--<script type="text/javascript" src="project.js"></script>-->
    <script>

        window.addEventListener('load', function () {
            document.getElementById("metadata").innerHTML = `<%- display %>`;
            document.getElementById("recommended").innerHTML = `<%- projects %>`;
        })

    </script>
</body>

</html>